:root {
  --background: #ffffff;
  --foreground: #171717;
}

.layout-center {
  width: 1120px;
  height: 100dvh;
}
/* image */
.image-fade {
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

@media screen and (max-width: 992px) {
  .layout-center {
    width: 100%;
    height: 100dvh;
  }
}

/* css dots */

/* Dấu chấm tổng thể */
.home-slider .slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  bottom: -10px;
}

/* Chấm mặc định */
.home-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  padding: 0;
}

.home-slider .slick-dots li button:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  opacity: 1;
}

/* Chấm đang active → đổi thành thanh dài bo góc */
.home-slider .slick-dots li.slick-active button:before {
  width: 60px; /* chiều dài thanh */
  height: 10px;
  background-color: #b9f7ff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

